html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
}

@media (max-width: 380px) {
  .front__bodyInput {
    justify-content: center;
  }
}
@media (max-width: 380px) {
  .body__inputOne {
    width: 30px;
    height: 40px !important;
    padding-right: 2px !important;
    padding-left: 4px !important;
  }

  .body__inputTwo {
    width: 150px;
    height: 40px !important;
    padding-right: 2px !important;
    padding-left: 10px !important;
  }
}
@media (max-width: 380px) {
  .front__footerMiddle {
    justify-content: center;
  }
}
@media (max-width: 380px) {
  .front__footerInputOne {
    max-width: 160px !important;
    height: 40px !important;
    align-items: center;
  }

  .front__footerInputTwo {
    max-width: 60px;
    height: 40px !important;
  }
}
@media (max-width: 380px) {
  .front {
    max-width: 18rem;
  }
}
@media (max-width: 380px) {
  .front__footerDown {
    justify-content: center !important;
    margin-left: 0 !important;
  }
}
.back {
  display: flex;
  position: relative;
  width: 100%;
}

.header {
  width: 100%;
  height: 285px;
  background-color: #000F30;
  display: flex;
  justify-content: center;
  background-image: url(../images/Designleft.svg), url(../images/Designright.svg);
  background-repeat: no-repeat;
  background-position-x: left, right;
}
.header__topLogo {
  margin-top: 13px;
}
.header__logo {
  padding-left: 9px;
}
.header__text {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 9.73404px;
  line-height: 10px;
  color: #ffffff;
  margin: auto;
  padding-top: 4px;
}
.header__textTwo {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 7.1383px;
  line-height: 14px;
  color: #ffffff;
  margin: auto;
  padding-left: 10px;
  padding-bottom: 14px;
}

.front {
  width: 23rem;
  position: absolute;
  background: #ffffff;
  border: 1px solid #DFDFE0;
  border-radius: 8px;
  margin-top: 82px;
}

.container__front {
  background: #ffffff;
  border: 1px solid #DFDFE0;
  border-radius: 8px;
}

.front__header {
  display: grid;
  margin: auto;
  justify-items: center;
  margin-bottom: 0;
}

.front__heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  letter-spacing: -0.154px;
  color: #354371;
  margin-top: 18px;
  margin-bottom: 0;
}

.front__headingText {
  max-width: 20rem;
  font-family: "Inter";
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.154px;
  color: rgba(29, 44, 60, 0.52);
  margin-top: 7px;
  margin-bottom: 0;
}

.front__bodyButton {
  display: flex;
  justify-content: center;
  margin-top: 9px;
}

.button__bodyOne {
  margin-right: 10.5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.154px;
  background: #ffffff;
  border: 1px solid #DFDFE0;
  border: none;
  padding: 2px 12px;
  color: #1D2C3C;
}

.button__bodyOne:hover {
  background: #FCFCFC;
  border: 1px solid #B6BABD;
}

.button__bodyTwo {
  background: #FCFCFC;
  border: 1px solid #B6BABD;
  flex: none;
  order: 1;
  flex-grow: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.154px;
  color: #32404E;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding: 6px 12px;
}

.front__bodyInput {
  margin-top: 18px;
  display: flex;
}

.body__inputOne {
  background: #ffffff;
  max-width: 78px;
  height: 45px;
  border: 1px solid #DFDFE0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #1D2C3C;
  margin-left: 29px;
  margin-right: 6px;
  padding-left: 19px;
  padding-right: 28px;
}

.body__inputTwo {
  max-width: 226px;
  height: 45px;
  font-family: "Inter";
  font-style: normal;
  border: 1px solid #DFDFE0;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #1D2C3C;
  padding-left: 19px;
  padding-right: 20px;
}

.front__middle {
  display: grid;
  margin: auto;
  justify-items: center;
  margin-top: 24px;
  margin-bottom: 0;
}

.front__bodyContinue {
  width: 127px;
  height: 40px;
  background: rgba(72, 156, 255, 0.3);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.408px;
  color: #FFFFFF;
  border: none;
  padding: 9px 10px;
}

.front__middleText {
  max-width: 18rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #5E6872;
  margin-top: 10px;
  margin-bottom: 3px;
  padding-right: 5px;
}

.line {
  border: 1px solid #DFDFE0;
  padding: 0 27px;
}

.front__footerUp {
  display: grid;
  margin: auto;
  justify-items: center;
  margin-bottom: 0;
  margin-top: 19px;
}

.front__footerHeading {
  margin: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.154px;
  color: #354371;
  margin-top: 1px;
}

.front__footerText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.154px;
  color: rgba(29, 44, 60, 0.52);
  margin-top: 8px;
  margin-bottom: 11px;
  padding-right: 6px;
}

.front__footerAccount {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #B6BABD;
  padding-left: 1.8rem;
}

.front__footerMiddle {
  margin-top: 7px;
  display: flex;
}

.front__footerInputOne {
  max-width: 253px;
  height: 46px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #828282;
  margin-left: 1.8rem;
  padding-left: 19px;
  padding-right: 33px;
  border: 1px solid #B6BABD;
}

.front__footerInputTwo {
  width: 72px;
  height: 46px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-left: -2px;
  padding-left: 9px;
  border: 1px solid #B6BABD;
}

.front__footerDown {
  display: grid;
  /* justify-items: center; */
  margin-top: 23px;
  margin-bottom: 38px;
  margin-left: 7.55rem;
}

.front__footerSign {
  background: rgba(72, 156, 255, 0.3);
  width: 127px;
  height: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.408px;
  color: #FFFFFF;
  border: none;
  padding: 9px 10px;
}/*# sourceMappingURL=style.css.map */